body {
  width: 600px;
  height: 600px;
  margin: 20px auto 0;
  font-family: 'LeeSeoyun',sans-serif;


}
  @font-face {
    font-family: 'LeeSeoyun';
    src: url(../public//font//LeeSeoyun.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.card{
  border: 1px solid #999;
}